<html>
    <body>
        <h2>
            HTML forms
        </h2>

        <form action="submit" method="post">
            <label for="Science">Science:</label><br>
            <input type="text" id="Science" name="Science" value="0"><br>
            <label for="Maths">Maths:</label><br>
            <input type="text" id="Maths" name="Maths" value="0"><br>
            <label for="CS">CS:</label><br>
            <input type="text" id="CS" name="CS" value="0"><br><br>
            <input type="submit" value="Submit">
        </form>

        <p>If you click the 'Submit' button, the form data will be send to a page called '/submit'</p>
    </body>
</html>